.section-hero {
  padding-top: resp(640);
  padding-bottom: resp(50);
  @include _767 {
    padding-top: resp(180, 360);
    padding-bottom: resp(50, 360);
  }
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: resp(90);
    @include _767 {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 resp(16, 360);
      position: relative;
      border: none;
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: resp(15, 360);
        height: resp(150, 360);
        max-height: 80%;
        background-color: $primary;
      }
      &::after {
        left: auto;
        right: 0;
      }
    }
  }
  &__title {
    min-width: max-content;
    line-height: 1em;
    @include _767 {
      display: block;
    }
  }
  &__text {
    padding-top: resp(20);
    @include font(Benzin, 400, sans-serif);
    font-size: resp(20);
    text-align: justify;
    word-wrap: break-word;
    // word-break: break-all;
    line-height: 1.4em;
    @include _767 {
      font-size: resp(14, 360);
    }
  }
  &__img-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: resp(970);
    @include _767 {
      top: resp(45, 360);
      min-height: resp(300, 360);
      height: resp(382, 360);
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    @include _767 {
      height: auto;
    }
  }

}
