.section-hit {
  padding: resp-size(40) 0 0;
  &__swiper {
    padding-bottom: 10px;
    &-wrap {
      @include _767 {
        display: none;
      }
    }
  }
  &__products-list {
    display: none;
    @include _767 {
      margin-bottom: resp-size(20, 360);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: resp-size(12, 363);
    }
  }
  &__btn_mob {
    display: none;
    @include _767 {
      display: block;
    }
  }
  &__btn_desk {
    padding: resp-size(7) resp-size(17);
    @include _767 {
      display: none;
    }
  }
  &__title-wrap {
    margin-bottom: resp-size(30);
    gap: resp-size(51);
    display: flex;
    align-items: center;
    @include _767 {
      margin-bottom: resp-size(30, 360);
    }
  }
  &__title {
    margin: 0;
  }
  &__product-card-hover-wrap {
    transition: .3s ease;
    position: relative;
    @include interactive {
      &:hover .section-hit__product-card-hover {
        // visibility: hidden;
        z-index: 0;
        opacity: 0;
      }
      &:hover .section-hit__product-card-hidden {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__product-card-hidden {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    left: 0;
    top: 0;
    transform-origin: 50%;
    transition: opacity .3s ease;
  }
  &__product-card-hover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: opacity .3s ease;
  }
}
