.section-news {
  padding-bottom: resp(90);
  @include _767 {
    padding-bottom: resp(30, 360);
  }
  &__wrap {
    display: flex;
    @include _767 {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: resp(10) resp(44);
    min-height: resp(906);
    flex: 1;
    overflow: hidden;
    @include _767 {
      padding: resp(6, 360) resp(16,360);
      min-height: resp(273, 360);
    }
    @include interactive {
      &:hover &-new-img-wrap {
        transform: scale(0.98);
      }
      &:hover &-new-link {
        color: #fdd69d;
        text-shadow: 0 0 calc((15 / 1920)* 100vw) #fff0da;
      }
    }
    &-new-img-wrap {
      position: absolute;
      left: -2%;
      top: -2%;
      width: 104%;
      height: 104%;
      transition: transform .3s ease;
    }
    &-new-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &-new-link {
      position: static;
      font-size: resp(36);
      font-weight: 500;
      line-height: 1.3em;
      transition: color .3s ease, text-shadow .3s ease;
      @include _767 {
        font-size: resp(12, 360);
      }
      &-text {
        position: relative;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__grid {
    padding: resp(54) resp(45) resp(16) resp(74);
    flex: 1;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    column-gap: resp(45);
    background: url('../img/news-grad.webp') no-repeat center / cover;
    @include _767 {
      display: none;
    }
    &-item:nth-child(2n) {
      transform: translateY(resp(60));
    }
  }
  &-swiper__scrollbar {
    @include _767 {
      width: calc(100% - resp(16, 360))!important;
    }
  }
  &-swiper__swiper {
    display: none;
    @include _767 {
      padding-top: resp(24, 360);
      padding-bottom: resp(18, 360);
      padding-left: resp(16,360);
      width: 100%;
      display: block;
      background-color: #000;
    }
  }
  &__new {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include interactive {
      &:hover &-img {
        transform: scale(.98);
      }
    }
    &-img-wrap {
      margin-bottom: resp(30);
      position: relative;
      width: 100%;
      height: resp(253);
      overflow: hidden;
      @include _767 {
        margin-bottom: resp(7, 360);
        height: resp(119, 360);
      }
    }
    &-img {
      position: absolute;
      left: -2%;
      top: -2%;
      object-fit: cover;
      object-position: center;
      width: 104%;
      height: 104%;
      transition: transform .3s ease;
      @include _767 {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-title {
      margin-bottom: resp(9);
      position: static;
      font-size: resp(24);
      font-weight: 500;
      background: $primary;
      -webkit-background-clip: text; /* Обрезка фона по тексту */
      color: transparent;
      transition: text-shadow .3s ease;
      @include _767 {
        margin-bottom: resp(7, 360);
        font-size: resp(14, 360);
        line-height: 1.3em;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      @include interactive {
        &:hover {
          text-shadow: 0 0 calc((15 / 1920)* 100vw) #fff0da;
        }
      }
    }
    &-date {
      font-size: resp(14);
      @include _767 {
        font-size: resp(10, 360);
      }
    }
  }
}
