.section-new-products {
  padding: resp-size(95) 0 0;
  @include _767 {
    padding: resp-size(35, 363) 0 0;
  }
  &__title-wrap {
    position: relative;
  }
  // &__swiper {
  //   padding: resp-size(8);
  //   @include _767 {
  //     padding: 0;
  //     padding-bottom: resp-size(15, 360);
  //   }
  // }
  &__swiper-wrapper {
    // padding: resp-size(8);
    padding: calc((8 / 1920)* 100vw) calc((8 / 1920)* 100vw) calc((15 / 1920)* 100vw) calc((8 / 1920)* 100vw);
    @include _767 {
      padding: 0;
      padding-bottom: resp-size(15, 360);
    }
  }
  & .product-card__btn {
    @include _767 {
      max-width: 100%;
    }
  }
  & .product-card {
    @include _767 {
      padding-bottom: resp-size(17, 360);
      box-shadow: none;
    }
    &__size {
      font-size: resp-size(16);
      line-height: 1em;
      @include _767 {
        font-size: resp-size(16, 360);
      }
    }
    &__sizes-item {
      border: 1px solid $primary;
      padding: resp-size(10) resp-size(10);
      @include _767 {
        padding: resp-size(7, 360) resp-size(7, 360);
      }
    }
  }
}
