.new-collection {
  padding: resp-size(88) 0 0;
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: resp-size(64);
    row-gap: resp-size(110);
    grid-auto-flow: row;
    @include _767 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: resp-size(36, 360);
    }
  }
}
.new-collection-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: resp-size(30);
  @include _767 {
    gap: resp-size(15, 363);
  }
  &_21 {
    margin-top: resp-size(20);
    grid-row: auto / span 3;
    @include _767 {
      order: 2;
    }
  }
  &_23 {
    grid-row: auto / span 2;
    @include _767 {
      order: 3;
    }
  }
  &_22 {
    @include _767 {
      order: 4;
    }
  }
  &__img-wrap {
    overflow: hidden;
    @include interactive {
      &:hover .new-collection-card__img {
        transform: scale(1);
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.03);
    transition: transform .3s ease;
    @include _767 {
      transform: none;
    }
  }
  &:nth-child(2n) &__wrap {
    padding-right: resp-size(176);
    @include _767 {
      padding-right: resp-size(24, 363);
    }
  }
  &__wrap {
    padding-left: resp-size(40);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    @include _767 {
      padding-left: resp-size(24, 363);
      padding-right: resp-size(24, 363);
      flex-wrap: wrap;
      gap: resp-size(10, 363);
    }
  }
  &__btn {
    line-height: 1.2em;
    @include _767 {
      width: 100%;
    }
  }
  &__date {
    display: block;
    line-height: 1.2em;
    font-size: resp-size(64);
    @include _767 {
      font-size: resp-size(32, 363);
    }
  }
}
