.input-error {
  position: absolute;
  bottom: calc(100% + 6px);
  left: 19px;
  font-size: 12px;
  color: $red_input;
}

.checkbox {
  position: relative;
  & .input-error {
    bottom: auto;
    left: 20px;
    @include _576 {
      left: 22px;
    }
  }
  &-label {
    padding-left: resp(40);
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: resp(18);
    background: linear-gradient(to right, #fdd69d, #edb261);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.3em;
    @include _767 {
      padding-left: resp(33, 360);
      font-size: resp(12, 360);
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__input {
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 0;
  }
  &__link {
    color: $primary;
    text-decoration: underline;
    z-index: 1;
    transition: background-color .3s ease, color .3s ease, text-decoration .3s ease;
    &:focus-visible {
      color: $black;
      background-color: $pink_violet;
      text-decoration: none;
      outline: none;
    }
    &:active {
      background-color: transparent;
      color: $primary_shade;
    }
    @include _767 {
      &:hover {
        background-color: transparent;
        color: $primary_light;
      }
      &:active {
        background-color: transparent;
        color: $primary_shade;
      }
    }
  }
  &__span {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 14px;
      height: 14px;
      border: 1px solid $grey;
      border-radius: 2px;
      background: transparent;
      transition: background-color .3s ease, border-color .3s ease;
    }
  }
  &__input:checked + &__span::before {
    background: url('../img/check.svg') no-repeat center center / 10px 10px, $primary;
    border-color: $primary;
  }
  // &-label:focus-within .checkbox__span::before {
  //   border-color: $primary;
  // }
  &__input:focus + .checkbox__span {
    color: $primary;
  }
  &__input:focus + .checkbox__span::before {
    border-color: $primary;
  }
}

.submit-btn {
  padding: 16px 34px;
  margin-bottom: 10px;
  font-weight: 600;
  @include _576 {
    margin-bottom: 11px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
