.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  transition: transform .3s ease;
  @include interactive {
    &:hover {
      transform: scale(1.01);
    }
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 93%;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  &__img-wrap {
    position: relative;
    z-index: 1;
    width: resp(235);
    height: resp(478);
    margin: 0 auto;
    @include _767 {
      width: resp(118, 360);
      height: resp(240, 360);
    }
  }
  &__img {
    min-height: 240px;
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: contain;
  }
  & .wishlist__btn {
    position: absolute;
    z-index: 1;
    width: resp(20);
    height: resp(19);
    top: 9%;
    right: 4.5%;
    border: none;
    outline: none;
    & svg {
      width: 100%;
      height: 100%;
    }
    @include _767 {
      width: resp(10, 360);
      height: resp(9, 360);
    }
  }
  &__img-full-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: resp(40);
    height: resp(40);
    border: none;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color .3s ease;
    @include _767 {
      width: resp(20, 360);
      height: resp(20, 360);
    }
    &-icon {
      width: resp(19);
      height: resp(20);
      fill: transparent;
      stroke: $primary;
      transition: stroke .3s ease;
      @include _767 {
        width: resp(9, 360);
        height: resp(10, 360);
      }
    }
    @include interactive {
      &:hover {
        background-color: $primary;
      }
      &:hover &-icon {
        stroke: #fff;
      }
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: calc(50% - resp(35));
      left: calc(50% - resp(35));
      width: resp(73);
      height: resp(73);
      border-radius: 50%;
      transition: transform .3s;
      background-color: #fff;
      animation: 1.7s linear infinite pulse_2_small;
      @include _767 {
        top: calc(50% - resp(18, 360));
        left: calc(50% - resp(18, 360));
        width: resp(36, 360);
        height: resp(36, 360);
      }
    }
  }
  &__content-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: resp(10);
    align-items: flex-start;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: resp(10);
    background-color: #fff;
    @include _767 {
      gap: resp(8, 360);
      padding: resp(9, 360) resp(8, 360) resp(8, 360);
    }
  }
  &__title {
    font-weight: 500;
    font-size: resp(20);
    text-transform: uppercase;
    @include _767 {
      font-size: resp(12, 360);
      line-height: 1.2em;
    }
  }
  &__color-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: resp(8);
    @include _767 {
      gap: resp(8, 360);
    }
  }
  &__color {
    width: resp(20);
    height: resp(20);
    display: block;
    border-radius: 50%;
    border: 1px solid #dedede;
    outline: none;
    transition: border-color .2s ease, transform .2s ease;
    &-img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
    @include interactive {
      &:hover {
        border-color: $primary;
        transform: scale(1.05);
      }
    }
    @include _767 {
      width: resp(14, 360);
      height: resp(14, 360);
    }
    &.selected {
      transform: scale(1.1);
      border: 1px solid $primary;
    }
  }
  &__price-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: resp(3);
    @include _767 {
      gap: resp(3, 360);
    }
  }
  &__price {
    font-weight: 600;
    font-size: resp(24);
    line-height: 1.3em;
    @include _767 {
      font-size: resp(16, 360);
    }
    &-old {
      font-size: resp(22);
      line-height: 1.3em;
      color: #848484;
      text-decoration: line-through;
      @include _767 {
        font-size: resp(12, 360);
      }
    }
  }
  &__btn {
    margin-top: auto;
    max-width: 90%;
    width: 100%;
    align-self: center;
    @include _767 {
      padding: resp(12, 360) resp(10, 360);
      font-size: resp(16, 360);
      max-width: 100%;
    }
  }
}
