.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar-horizontal {
  position: relative;
  margin-top: resp(30, 360);
  height: resp(8, 360);
  border-radius: resp(50, 360);
  bottom: 1px;
}
.swiper-scrollbar {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .69);
  border-radius: resp(50, 360);
}
.swiper-scrollbar-drag {
  background: $primary;
}
.swiper-vertical>.swiper-scrollbar {
  right: 1px;
}
.swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical>.swiper-scrollbar {
  width: resp(10, 360);
}

