.section-main__video-wrap {
  width: 100%;
  height: auto;
}
.section-main__video {
  width: 100%;
  min-height: resp(600);
  height: auto;
  object-fit: cover;
  object-position: center;
  @include _767 {
    min-height: resp(186, 360);
  }
}
.section-goal {
  position: relative;
  padding-top: resp(60);
  @include _767 {
    padding-top: 0;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: resp(128);
    top: 0;
    width: resp(350);
    height: 100%;
    object-fit: contain;
    background: url('../img/goal.webp') no-repeat left top / 100% auto;
    @include _767 {
      display: none;
    }
  }
  &__title {
    margin-left: auto;
    max-width: 70%;
    @include _767 {
      max-width: 100%;
    }
  }
  &__content {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 70%;
    @include _767 {
      max-width: 100%;
    }
  }
}

.section-advantages {
  &__billets {
    display: flex;
    flex-wrap: wrap;
    gap: resp(40);
    @include _767 {
      gap: resp(15, 360);
    }
  }
  &__billets-item {
    flex: 1 1 calc(50% - resp(20));
    @include _767 {
      flex: 1 1 100%;
    }
  }
  &__card {
    height: 100%;
    padding: resp(30);
    border-radius: resp(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: resp(20);
    background-color: #F4F3F3;
    @include _767 {
      padding: resp(10, 360) resp(14, 360);
      gap: resp(10, 360);
    }
    &-title {
      font-weight: 600;
      font-size: resp(24);
      line-height: 1.2em;
      letter-spacing: 0.05em;
      color: 600;
      @include _767 {
        font-size: resp(16, 360);
      }
    }
    &-text {
      font-size: resp(20);
      line-height: 1.25em;
      letter-spacing: 0.05em;
      @include _767 {
        font-size: resp(14, 360);
      }
    }
  }
}
