@include font-face("Vezla", "Vezla-Regular", 400);
@include font-face("Tenor Sans", "TenorSans-Regular", 400);
@include font-face("Benzin", "Benzin-Regular", 400);
@include font-face("Benzin", "Benzin-Medium", 500);
@include font-face("GeneralSans", "GeneralSans-Regular", 400);
@include font-face("NotoSans", "NotoSans-Regular", 400);

.title {
  // margin-bottom: 30px;
  @include font(Vezla, 400, sans-serif);
  line-height: 1.25em;
  font-size: resp(96);
  text-transform: uppercase;
  color: $primary;
  @include _767 {
    font-size: resp(36, 360);
  }
}

// .page-title {
//   padding-bottom: resp(30);
//   font-weight: 600;
//   font-size: resp(48);
//   line-height: 1.3em;
//   letter-spacing: 0.05em;
//   color: #000;
//   @include _767 {
//     padding-bottom: resp(15, 360);
//     font-size: resp(24, 360);
//   }
// }

.section-title {
  margin-bottom: resp(10);
  font-size: resp(96);
  @include font(Vezla, 400, sans-serif);
  line-height: 1.3em;
  text-transform: uppercase;
  background: $primary;
  -webkit-background-clip: text; /* Обрезка фона по тексту */
  color: transparent;
  @include _767 {
    margin-bottom: resp(8, 360);
    font-size: resp(36, 360);
  }
}
.section-subtitle {
  margin-bottom: resp(11);
  text-align: center;
  @include font(Vezla, 400, sans-serif);
  font-size: resp(48);
  line-height: 1.2em;
  @include _767 {
    margin-bottom: resp(15, 360);
    font-size: resp(20, 360);
  }
}


.weight-regular {
  font-weight: 400;
}
.weight-medium {
  font-weight: 500;
}
.weight-semibold {
  font-weight: 600;
}
.weight-bold {
  font-weight: 700;
}

