.section-contacts {
  &__shops {
    display: flex;
    gap: resp(87);
    &-item {
      flex: 1;
    }
    @include _767 {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: resp(15, 360);
    }
  }
}

.contacts-shop-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: resp(26);
  &__img-wrap {
    width: 100%;
    height: resp(233);
    background-color: #D9D9D9;
    @include _767 {
      height: auto;
      min-height: resp(176, 360);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__link {
    gap: resp(17);
    @include _767 {
      gap: resp(12, 360);
    }
    &::before {
      min-width: resp(24);
      height: resp(24);
      @include _767 {
        min-width: resp(24, 360);
        width: resp(24, 360);
        height: resp(24, 360);
      }
    }
  }
}
