.section-feedback{
  &__wrap {
    display: flex;
    gap: resp(64);
    @include _767 {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: resp(30, 360);
    }
  }
  &__ur-adress {
    max-width: 41.17vw;
    width: 100%;
    padding: resp(34);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: resp(23);
    border-radius: resp(10);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
    @include _767 {
      padding: resp(16, 360) resp(15, 360);
      max-width: 100%;
      gap: resp(10, 360);
      border-radius: 10px;
    }
    &-title {
      font-weight: 600;
      font-size: resp(24);
      line-height: 1.3em;
      @include _767 {
        font-size: resp(20, 360);
      }
    }
    &-text {
      font-weight: 400;
      line-height: 1.5em;
      font-size: resp(20);
      color: #817271;
      @include _767 {
        font-size: resp(14, 360);
      }
    }
  }
  &__form {
    &-title {
      margin-bottom: resp(35);
      font-weight: 600;
      font-size: resp(40);
      line-height: 1.3em;
      color: #000;
      @include _767 {
        margin-bottom: resp(11, 360);
        font-size: resp(24, 360);
      }
    }
    &-container {
      margin: 0;
      gap: resp(30);
      @include _767 {
        gap: resp(20, 360);
      }
    }
    &-inputs-wrap {
      width: 100%;
      display: flex;
      gap: resp(16);
      @include _767 {
        flex-direction: column;
        align-items: flex-start;
        gap: resp(10, 360);
      }
    }
    &-hint {
      font-size: resp(14);
      margin-bottom: resp(20);
      line-height: 1.3em;
      color: #433652;
      @include _767 {
        font-size: resp(12, 360);
        margin-bottom: resp(10, 360);
      }
    }
    &-inputs {
      min-width: resp(272);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: resp(16);
      @include _767 {
        width: 100%;
        gap: resp(10, 360);
      }
    }
    & .form-input, & .form-textarea {
      padding: resp(12);
      font-weight: 400;
      font-size: resp(18);
      line-height: 1.2em;
      color: #000;
      border: none;
      border-radius: resp(10);
      background-color: #E2E0E0;
      @include _767 {
        border-radius: 10px;
        padding: resp(15, 360) resp(12, 360);
        font-size: resp(14, 360);
      }
      &::placeholder {
        color: #817271;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    & .iti__selected-dial-code {
      line-height: 1.2em;
      font-weight: 400;
      font-size: resp(18);
      color: #000;
      @include _767 {
        font-size: resp(14, 360);
      }
    }
    & .form-textarea {
      height: 100%;
    }
  }
}
