.order-popup {
  &__block {
    max-width: resp-size(1550);
    @include _767 {
      max-width: 80vw;
    }
  }
  &__content {
    padding: resp-size(35) resp-size(39) resp-size(45);
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: resp-size(44);
    border: 1px solid #000;
    @include _767 {
      padding: resp-size(56, 360) resp-size(26, 360) resp-size(30, 360) resp-size(12, 360);
    }
  }
  &__img-wrap {
    width: 100%;
    max-width: 45%;
    height: 100%;
    @include _767 {
      display: none;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__logo-wrap {
    margin-bottom: resp-size(48);
    max-width: resp-size(469);
    @include _767 {
      display: none;
    }
  }
  &__logo {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
  }
  &__form-title {
    margin-bottom: resp-size(36);
    font-size: resp-size(30);
    line-height: 1.4em;
    @include _767 {
      margin-bottom: resp-size(19, 360);
      font-size: resp-size(16, 360);
    }
  }
  & .input-wrap.required {
    &::before {
      content: '*';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      font-size: resp-size(20);
      line-height: 1em;
      color: #FF0A0A;
      @include _767 {
        font-size: resp-size(12, 360);
      }
    }
  }
  & .popup__close {
    width: resp-size(70);
    height: resp-size(70);
    top: resp-size(42);
    right: resp-size(53);
    @include _767 {
      width: calc((42 / 363)* 100vw);
      height: calc((42 / 363)* 100vw);
      top: calc((30 / 363)* 100vw);
      right: calc((26 / 363)* 100vw);
    }
    & svg {
      margin: auto;
      width: 46%;
      height: 46%;
    }
  }

}
