.popup {
  color: #000;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 2.6041666667vw;
  padding-bottom: 2.6041666667vw;
  display: flex;
  pointer-events: none;
  transition:  visibility .3s ease, opacity .3s ease;
  opacity: 0;
  visibility: hidden;
  &__return {
    position: absolute;
    display: flex;
    align-items: center;
    gap: resp(25);
    left: resp(46);
    top: resp(37);
    border: none;
    outline: none;
    background: linear-gradient(to right, #fdd69d, #edb261);
    -webkit-background-clip: text;
    color: transparent;
    font-size: resp(24);
    &::before {
      content: '';
      display: block;
      width: resp(80);
      height: resp(15);
      background: url('../img/icons/return-icon.svg') no-repeat center / 100% auto;
      transition: transform .3s ease;
      @include _767 {
        width: resp(50, 360);
        height: resp(15, 360);
      }
    }
    @include interactive {
      &:hover::before {
        transform: translateX(-7px);
      }
    }
    @include _767 {
      gap: resp(25, 360);
      left: resp(16, 360);
      top: resp(21, 360);
      font-size: resp(14, 360);
    }
  }
  &.open {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    & .popup__blur {
      overflow-y: scroll;
    }
  }
  &.fade .popup__block {
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out;
  }
  &__blur {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
  }
  &__container {
    margin: auto;
    z-index: 2;
  }
  &__block {
    max-width: 90%;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 70%;
    margin: auto;
    position: relative;
    background-color: #fff;
    transition: transform .3s ease-out;
    // @include _767 {
    //   padding: resp(16 ,360) resp(12, 360);
    //   background-size: auto 50%;
    // }
  }
  &__close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    top: resp(30);
    right: resp(30);
    width: resp(46);
    height: resp(46);
    cursor: pointer;
    opacity: .8;
    transition: opacity .3s ease;
    @include interactive {
      &:hover {
        opacity: 1;
      }
    }
    @include _767 {
      width: resp(27, 360);
      height: resp(27, 360);
      top: resp(17, 360);
      right: resp(17, 360);
      opacity: 1;
    }
  }
  &__content {
    background-color: #110E32;
    max-width: 100%;
    display: flex;
    // max-height: 80vh;
    // overflow-y: auto;
    @include _767 {
      max-width: 100%;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: resp(116) resp(16) resp(21);
    background-color: #110E32;
    @include _767 {
      padding: resp(61, 360) resp(16, 360) resp(18, 360);
    }
  }
  &__form-title {
    margin-bottom: resp(30);
    font-size: resp(64);
    text-align: center;
    line-height: 1.3em;
    text-transform: uppercase;
    background: $primary;
    -webkit-background-clip: text; /* Обрезка фона по тексту */
    color: transparent;
    font-weight: 500;
    line-height: 1.2em;
    @include _767 {
      margin-bottom: resp(10, 360);
      font-size: resp(24, 360);
    }
  }
  &__form-text {
    margin-bottom: resp(40);
    font-size: resp(30);
    font-weight: 400;
    line-height: 1.3em;
    text-align: center;
    @include _767 {
      margin-bottom: resp(12, 360);
      font-size: resp(14, 360);
    }
  }
}

.popup__close img,
.popup__close svg {
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
}

.fancybox-content {
  padding: 35px 10px 10px;
  & video {
    max-height: 70vh;
    max-width: 65vw;
    height: auto;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}
