.form-select {
  max-width: 100%;
  min-width: resp(185);
  cursor: pointer;
  position: relative;
  padding: resp(5) resp(11);
  text-align: left;
  border: 1px solid #8F8F8F;
  background-color: #fff;
  @include _767 {
    // width: 100%;
    min-width: resp(185, 360);
    width: max-content;
    padding: resp(5, 360) resp(11, 360);
    flex: none;
  }
}
.form-select::after {
    content: '';
    position: absolute;
    right: resp(11);
    top: 45%;
    display: inline-block;
    width: 0;
    height: 0;
    z-index: 3;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-radius: 1px;
    border-color: #000 transparent transparent transparent;
    transition: transform .3s ease;
    @include _767 {
      right: resp(11, 360);
    }
}
.form-select span.current {
  margin: 0 auto;
  z-index: 3;
  position: relative;
  font-weight: 500;
  font-size: resp(16);
  line-height: 1.35em;
  text-align: center;
  @include _767 {
    font-size: resp(14, 360);
  }
}
.form-select .list {
  padding: resp(10) 0 resp(7);
  position: absolute;
  left: 0;
  width: 100%;
  top: 103%;
  border: none;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  transition: opacity .3s ease, visibility .3s ease;
  @include _767 {
    padding: resp(10, 360) 0 resp(7, 360);
  }
}
.form-select.open .list {
  opacity: 1;
  visibility: visible;
}
.form-select .list .option {
  padding: resp(5) resp(14);
  font-size: resp(16);
  cursor: pointer;
  line-height: 1.2em;
  &.disabled {
    display: none;
  }
  @include interactive {
    &:hover {
      background-color: #fbfbfb;;
    }
  }
  @include _767 {
    padding: resp(5, 360) resp(14, 360);
    font-size: resp(16, 360);
  }
}
.form-select.open::after {
  transform: rotate(-180deg);
}
