$containerMaxWidth: 1664px;

// Colors
$primary: linear-gradient(to right, #FDD69D, #EDB261);
$white: #fff;
$secondary: #110E32;

// $tg: #0088CC;
// $whats: #25D366;
// $inst: url(#inst-gradient);
// $youtube: #FF0000;
// $viber: #665CAC;
// $skype: #00AFF0;
// $tiktok: #000;
