.header {
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 3;
  &__search-open {
    display: flex;
    align-items: center;
    gap: resp(10);
    @include _767 {
      gap: resp(10, 360);
    }
  }
  &__search-open-icon {
    width: resp(36);
    height: resp(36);
    @include _767 {
      width: resp(17, 360);
      height: resp(17, 360);
    }
    & svg {
      width: 100%;
      height: 100%;
      fill: #fff;
      transition: stroke .3s ease, transform .3s ease;
    }
  }
  &__top {
    background-color: transparent;
    transition: background-color .3s ease;
    @include _767 {
      background-color: #000;
    }
    &-wrap {
      flex: 1;
      transition: .3s ease;
      @include _767 {
        margin-right: resp(29, 360);
      }
    }
    &-desk {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      left: 0;
      z-index: 0;
      gap: resp(46);
      padding: resp(25) 0 resp(15);
      width: 100%;
      transition: background-color .3s ease;
      transition: paddin .3s ease;
      @include _767 {
        padding: resp(5, 360) 0;
      }
    }
    &-btn {
      border: none;
      outline: none;
      padding: 0;
      display: flex;
      align-items: center;
      font-family: 'Tenor Sans', sans-serif;
      font-size: resp(20);
      line-height: 1.3em;
      color: #fff;
      transition: background .3s ease, color .3s ease;
      @include _767 {
        font-size: resp(12, 360);
      }
      @include interactive {
        &:hover {
          background: $primary;
          -webkit-background-clip: text; /* Обрезка фона по тексту */
          color: transparent;
        }
        &:hover .header__search-open-icon svg {
          stroke: #FDD69D;
          transform: scale(1.05) translateX(resp(5));
        }
      }
    }
    &-mob {
      display: none;
      @include _767 {
        padding: resp(10, 360) 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__desk-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    @include _767 {
      display: none;
    }
  }
  &.fixed &__top {
    background-color: $secondary;
    @include _767 {
      background-color: #000;
    }
    &-desk {
      padding: resp(8) 0 resp(6);
      @include _767 {
        padding: resp(4, 360) 0;
      }
    }
  }
  &.fixed &__logo {
    max-width: resp(70);
    @include _767 {
      max-width: calc((43 / 360)* 100vw);
    }
  }
  &.fixed &__title {
    transform: translateX(resp(76));
    font-size: calc((50 / 1920)* 100vw);
    width: 100%;
    flex: 1;
  }
  &.fixed &__top-login-search-wrap {
    width: max-content;
  }
  &.fixed &__top-wrap {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
   &-progress {
    position: absolute;
    top: calc(100% - 1.5px);
    left: 0;
    width: 100%;
    height: 1.5px;
  }
  &__logo {
    max-width: resp(188);
    display: block;
    width: 100%;
    transition: max-width .3s ease;
    @include _767 {
      max-width: resp(43, 360);
    }
  }
  &__top-login-search-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: resp(44);
    transform: translateX(resp(76));
    @include _767 {
      transform: none;
      gap: resp(26, 360);
    }
  }
  &__title {
    position: relative;
    font-size: resp(128);
    font-family: "Vezla", sans-serif;
    // text-transform: uppercase;
    line-height: 1em;
    z-index: 0;
    text-align: center;
    background: $primary;
    -webkit-background-clip: text; /* Обрезка фона по тексту */
    color: transparent;
    @include _767 {
      display: none;
    }
  }
  &__search {
    position: relative;
    display: flex;
    &-close-btn {
      width: resp(40);
      height: resp(40);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border: none;
      outline: none;
      right: resp(15);
      top: 50%;
      transform: translateY(-50%);
      @include _767 {
        right: resp(12, 360);
        width: resp(30, 360);
        height: resp(30, 360);
      }
      & svg {
        width: resp(26);
        height: resp(26);
        fill: #fff;
        @include _767 {
          width: resp(13, 360);
          height: resp(13, 360);
        }
      }
    }
    & .header__search-input-wrap {
      padding: resp(2);
      position: absolute;
      right: 0;
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      visibility: hidden;
      transition: opacity .3s ease, visibility .3s ease;
      @include _767 {
        padding: resp(2, 360);
        position: fixed;
        top: resp(45, 360);
        right: resp(1, 360);
        z-index: 3;
        width: calc(100% - resp(2, 360));
        transform: translateY(resp(5, 360));
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: $primary;
      }
    }
    &.open .header__search-input-wrap {
      opacity: 1;
      visibility: visible;
    }
    & input {
      color: #fff;
      padding-right: resp(54);
      background-color: #110E32;
      border: none;
      width: 24vw;
      @include _767 {
        width: 100%;
        padding-right: resp(45, 360);
      }
    }
  }
  .logo__img {
    width: 100%;
  }
  &__mob {
    display: none;
    background-color: $primary;
    @include _767 {
      display: block;
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      transition: background-color .3s ease, box-shadow .3s ease;
    }
    &-btn {
      display: none;
      flex-direction: column;
      z-index: 2;
      justify-content: center;
      border: none;
      outline: none;
      gap: resp(8, 360);
      width: resp(41, 360);
      height: resp(41, 360);
      @include _767 {
        display: flex;
      }
      &-line,
      &::before,
      &::after  {
        content: '';
        margin: 0 auto;
        display: block;
        justify-content: center;
        width: resp(30, 360);
        height: resp(2, 360);
        background: $primary;
        border-radius: resp(2, 360);
        transform-origin: 0 0;
        transition: transform .3s ease, width .3s ease, background-color .3s ease;
      }
      &.active {
        position: relative;
        z-index: 4;
        &::after {
          width: 85%;
          transform: translate(resp(6,360), resp(4, 360)) rotate(-45deg);
        }
        & .header__mob-btn-line {
          transform: scale(0);
        }
        &::before {
          width: 85%;
          transform: translate(resp(8,360), resp(-1, 360)) rotate(45deg);
        }
      }
    }
    &-top-wrap {
      margin-bottom: resp(20, 360);
    }
    &-title {
      display: flex;
      align-items: center;
      gap: resp(5,360);
      font-size: resp(16, 360);
      font-weight: 600;
      line-height: 1.3em;
      color: #fff;
      &::before {
        content: '';
        display: block;
        width: resp(20, 360);
        height: resp(20, 360);
        background: url('../img/catalog-burger.svg') no-repeat center / 80%;
      }
    }
    &-messengers {
      @include _767 {
        margin-bottom: resp(15, 360);
      }
    }
  }
  &__mob-wrap {
    z-index: 1;
  }
  &__logo_mob {
    margin: 0;
    width: resp(54, 363);
    transition: opacity .3s ease, visibility .3s ease;
  }
  &__logo-fixed_mob {
    position: absolute;
    width: resp(54, 363);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
  }
  &__mob-content {
    padding: resp(12, 360) resp(24, 360) resp(25, 360);
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-height: 100vh;
    z-index: 2;
    height: auto;
    transform: translateX(5%);
    background-color: #34363B;
    transition: transform .3s ease, opacity .3s ease, visibility .3s ease, background-color .3s ease, box-shadow .3s ease;
    &.open {
      opacity: 1;
      transform: translateX(0%);
      visibility: visible;
    }
    & .menu__item {
      border-bottom: 1px solid #fff;
    }
  }
  &__phone-wrap {
    margin-right: 32px;
    @include _1200 {
      margin-right: 20px;
    }
    @include _992 {
      margin: 0;
      color: $primary;
    }
  }
  &-menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: resp(88);
    @include _767 {
      width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0;
    }
  }
  &__bottom {
    transition: background-color .2s ease;
    background-color: #000;
    @include _767 {
      background-color: #110E32;
      overflow-y: auto;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      max-height: 100vh;
      height: 100vh;
      z-index: 2;
      transform: translateY(-5%);
      transition: transform .3s ease, opacity .3s ease, visibility .3s ease, background-color .3s ease, box-shadow .3s ease;
      &.open {
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
      }
    }
    &-mob {
      display: none;
      @include _767 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: resp(14, 360);
      }
    }
    &__bottom-logo-wrap {
      width: resp(133, 360);
      height: auto;
    }
    &__bottom-logo {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
    &-wrap {
      position: relative;
      padding: resp(20) 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: resp(88);
      @include _767 {
        gap: 0;
        flex-direction: column;
        align-items: center;
        padding: resp(56, 360) 0 resp(26, 360);
      }
    }
  }
  &__nav {
    // flex: 1;
    @include _767 {
      margin-bottom: resp(20, 360);
    }
  }
  &__btn_mob {
    width: 100%;
    border: 1px solid #fff;
  }
  &__btn {
    @include _767 {
      margin-bottom: resp(30, 360)
    }
  }
}




