.section-partners {
  @include _767 {
    padding-bottom: 50px;
  }
  &__title {
    margin-bottom: resp(50);
    line-height: 1.2em;
    @include _767 {
      margin-bottom: resp(20, 360);
    }
  }
}

.section-partners__swiper-wrapper {
  transition-timing-function: linear !important;
}
.section-partners__swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section-partners__swiper-slide img {
  width: 100%;
  height: resp(150);
  object-position: center;
  // object-fit: contain;
  @include _767 {
    height: resp(54, 360);
  }
}
