.section-partners {
  @include _767 {
    padding-bottom: 50px;
  }
  &__title {
    margin-bottom: resp(50);
    line-height: 1.2em;
    @include _767 {
      margin-bottom: resp(20, 360);
    }
  }
}

.section-partners__swiper-wrapper {
  transition-timing-function: linear !important;
}
.section-partners__swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  border: 3px solid #fdd69d;
  padding: resp(10);
  border-radius: 10px;
  width: 100%;
  @include _767 {
    padding: resp(5, 360);
  }
}
.section-partners__swiper-slide img {
  position: relative;
  width: 100%;
  height: resp(150);
  object-position: center;
  z-index: 1;
  object-fit: contain;
  @include _767 {
    height: resp(54, 360);
  }
}
